#beetleworx-sidebar{
    background-image: url("../images/sidebar.png");
    background-repeat: no-repeat;
    height: 560px;
    width: 245px;
    cursor: default;
}

#beetleworx-overlay{
	position : fixed;
	top : 0;
	left : 0;
	z-index : 999999;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	
	cursor : url("../images/blank.cur"), 
			none !important;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.google-chrome #beetleworx-overlay{
	cursor : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjbQg61aAAAADUlEQVQYV2P4//8/IwAI/QL/+TZZdwAAAABJRU5ErkJggg=='),
			url("../images/blank.cur"), 
			none !important;
}

#beetleworx-overlay #beetleworx-grid{
	position : absolute;
	border : 5px solid #4b5357;
	background-image : url("../images/grid-bg-light.png");
	background-repeat : repeat;
}

#beetleworx-overlay svg,
#beetleworx-overlay #beetleworx-dom-canvas{
	position : absolute !important;
	overflow : hidden;
	top : 0;
	left : 0;
}

/*sprite wrapper*/
#beetleworx-overlay #beetleworx-dom-canvas .beetleworx-dom-canvas-sprite-container{
	position : absolute;
}
/*sprite container div*/
#beetleworx-overlay #beetleworx-dom-canvas .beetleworx-dom-canvas-sprite-container .beetleworx-dom-canvas-sprite{
	position : absolute;
	top : 0;
	left : 0;
}
/*actual sprite img*/
#beetleworx-overlay #beetleworx-dom-canvas .beetleworx-dom-canvas-sprite-container .beetleworx-dom-canvas-sprite .beetleworx-dom-canvas-sprite-image{
	position : absolute;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
}

/*lifebar wrapper*/
#beetleworx-overlay #beetleworx-dom-canvas .beetleworx-dom-canvas-sprite-container .beetleworx-dom-canvas-sprite-lifebar-wrapper{
	display : block;
	position : absolute;
	width: 6px;
	height: 50px;
	right: 85px;
	top: -20px;

	background: rgb(69,72,77); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
}

/*lifebar value*/
#beetleworx-overlay #beetleworx-dom-canvas .beetleworx-dom-canvas-sprite-container .beetleworx-dom-canvas-sprite-lifebar-value{
	display : block;
	position : absolute;
	bottom : 0;
	left : 0;
	width : 100%;
	height : 100%;
	background-color : #00ff00;
	-webkit-transition : all linear 500ms;
	-moz-transition : all linear 500ms;
	-o-transition : all linear 500ms;
	-ms-transition : all linear 500ms;
	transition : all linear 500ms;
}



/*the text explosion*/
#beetleworx-overlay #beetleworx-dom-canvas .beetleworx-dom-canvas-text-explosion{
	position : absolute;
	font-family : Impact, Tahoma;
	font-size : 50px;
}

#beetleworx-overlay #beetleworx-dom-canvas .beetleworx-dom-canvas-text-explosion.stunned{
	color : #990000;
}
#beetleworx-overlay #beetleworx-dom-canvas .beetleworx-dom-canvas-text-explosion.increase-score{
	color : #00ffd8;
	-moz-text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	-webkit-text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	-ms-text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
#beetleworx-overlay #beetleworx-dom-canvas .beetleworx-dom-canvas-text-explosion.decrease-score{
	color : red;
	font-size : 30px;
}

#beetleworx-overlay #beetleworx-sidebar{
	position : absolute;
	top : 0;
	left : 0;
	visibility : hidden;
}

#beetleworks-sidebar-score{
	position: relative;
	top: 295px;
	margin : 0;
	padding : 0;
	padding-right: 60px;
	padding-left: 40px;
	color: #D2E7F2;
	font-size: 23px;
	text-align: center;

	text-shadow : -2px 3px #ccc;
	text-shadow : -2px 3px rgba(0, 0, 0, 0.3);
}

#build-button{
	background-image: url("../images/sidebar/build-button.png");
	display: block;
	height: 50px;
	left: 36px;
	position: absolute;
	top: 222px;
	width: 148px;
}

#share-button{
	background-image: url("../images/sidebar/share-button.png");
	display: block;
	height: 30px;
	left: 36px;
	position: absolute;
	top: 352px;
	width: 92px;
}

#help-button{
    background-image: url("../images/sidebar/help-button.png");
    display: block;
    height: 27px;
    left: 150px;
    position: absolute;
    top: 356px;
    width: 27px;	
}

#pre-order-button{
	background-image: url("../images/sidebar/pre-order-button.png");
	bottom: 7px;
	display: block;
	height: 20px;
	left: 55px;
	position: absolute;
	width: 115px;
}

#sidebar-slider{
    height: 121px;
    left: 39px;
    position: absolute;
    top: 404px;
    width: 144px;
	display: block;
}

#toggle-sidebar{
	display: block;
	position: absolute;
	left: 80px;
	top: 552px;
	height: 27px;
	width: 62px;
	background-image: url("../images/sidebar/toggle.png");
	background-position: 0px;
	cursor : pointer;
}

.beetleworx-flash-replacement{
	background : #fff;
}

.toggle-down{
	background-position: -62px !important;
}

.beetleworx-help-enabled .beetleworx-destroyable{
	border : 1px dashed red;
	background-color : blue;
	/*-webkit-animation : flashBorderAndBackground 2s ease-in-out 1s infinite alternate;
	-moz-animation : flashBorderAndBackground 1s ease-in-out 1s infinite alternate;
	-ms-animation : flashBorderAndBackground 1s ease-in-out 1s infinite alternate;
	-o-animation : flashBorderAndBackground 1s ease-in-out 1s infinite alternate;
	animation : flashBorderAndBackground 1s ease-in-out 1s infinite alternate;*/
}


.beetleworx-help-enabled .beetleworx-targeted-elements{
	border : 3px dashed green!important;
	background-color : red!important;
}

@-webkit-keyframes flashBorderAndBackground{
   0% { 
   		border: 1px dashed red;
   		background-color : blue;
   	}
   50%   { 
   		border: 1px dotted green;
   		background-color : #f90;
   	}
   	100% { 
   		border: 1px dashed red;
   		background-color : blue;
   	}
}
@-moz-keyframes flashBorderAndBackground{
   0% { 
   		border: 1px dashed red;
   		background-color : blue;
   	}
   50%   { 
   		border: 1px dotted green;
   		background-color : #f90;
   	}
   	100% { 
   		border: 1px dashed red;
   		background-color : blue;
   	}
}
@-ms-keyframes flashBorderAndBackground{
   0% { 
   		border: 1px dashed red;
   		background-color : blue;
   	}
   50%   { 
   		border: 1px dotted green;
   		background-color : #f90;
   	}
   	100% { 
   		border: 1px dashed red;
   		background-color : blue;
   	}
}

@keyframes flashBorderAndBackground{
   0% { 
   		border: 1px dashed red;
   		background-color : blue;
   	}
   50%   { 
   		border: 1px dotted green;
   		background-color : #f90;
   	}
   	100% { 
   		border: 1px dashed red;
   		background-color : blue;
   	}
}
